/*
 * EVE Swagger Interface
 *
 * An OpenAPI for EVE Online
 *
 * The version of the OpenAPI document: 1.33
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};


/// struct for typed errors of method [`get_route_origin_destination`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetRouteOriginDestinationError {
    Status400(models::BadRequest),
    Status404(models::GetRouteOriginDestinationNotFound),
    Status420(models::ErrorLimited),
    Status500(models::InternalServerError),
    Status503(models::ServiceUnavailable),
    Status504(models::GatewayTimeout),
    UnknownValue(serde_json::Value),
}


/// Get the systems between origin and destination  --- Alternate route: `/dev/route/{origin}/{destination}/`  Alternate route: `/legacy/route/{origin}/{destination}/`  Alternate route: `/v1/route/{origin}/{destination}/`  --- This route is cached for up to 86400 seconds
pub async fn get_route_origin_destination(configuration: &configuration::Configuration, destination: i32, origin: i32, avoid: Option<Vec<i32>>, connections: Option<Vec<Vec<i32>>>, datasource: Option<&str>, flag: Option<&str>, if_none_match: Option<&str>) -> Result<Vec<i32>, Error<GetRouteOriginDestinationError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_destination = destination;
    let p_origin = origin;
    let p_avoid = avoid;
    let p_connections = connections;
    let p_datasource = datasource;
    let p_flag = flag;
    let p_if_none_match = if_none_match;

    let uri_str = format!("{}/route/{origin}/{destination}/", configuration.base_path, destination=p_destination, origin=p_origin);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_avoid {
        req_builder = match "csv" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("avoid".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("avoid", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref param_value) = p_connections {
        req_builder = match "multi" {
            "multi" => req_builder.query(&param_value.iter().map(|p| ("connections".to_owned(), p.iter().map(|i| i.to_string()).collect::<Vec<_>>().join(","))).collect::<Vec<_>>()),
            _ => req_builder.query(&[("connections", &param_value.iter().map(|p| p.iter().map(|i| i.to_string()).collect::<Vec<_>>().join(",")).collect::<Vec<_>>().join(","))]),
        };
    }
    if let Some(ref param_value) = p_datasource {
        req_builder = req_builder.query(&[("datasource", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_flag {
        req_builder = req_builder.query(&[("flag", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(param_value) = p_if_none_match {
        req_builder = req_builder.header("If-None-Match", param_value.to_string());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;i32&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;i32&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<GetRouteOriginDestinationError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

